<p id="notice"><%= notice %></p>

<%= image_tag (@post.image.url(:medium)) %>

<h1>
  <strong>Title:</strong>
  <%= @post.title %>
</h1>

<p>
  <strong>Link:</strong>
  <%= @post.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>


<p>	
	<%= @post.user.name %>
</p>

<p>
	Likes <%= @post.get_upvotes.size %></p>
<p> 
	Dislikes <%= @post.get_downvotes.size %> </p> 

<%= link_to "Like", like_post_path(@post), method: :get%> |
<%= link_to "Dislike", dislike_post_path(@post), method: :get%>

<br><br>

<%if current_user != nil %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>
<%= link_to 'Back', posts_path %>



<h2><%= pluralize(@post.comments.count, "comment") %></h2>
	<% @comments.each do |comment| %>
	<%= comment.user.name %>
	<h6> <%= comment.content %> </h6>
	<%end%>	

<%= render 'comments/form' %>



