<p id="notice"><%= notice %></p>

<%= image_tag (@post.image.url(:medium)) %>

<h1>
  <strong>Title:</strong>
  <%= @post.title %>
</h1>

<p>
  <strong>Link:</strong>
  <%= @post.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>


<p>	
	<%= @post.user.name %>
</p>

<%if current_user != nil %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>
<%= link_to 'Back', posts_path %>
